$dark: #bbbbbb;
$light: #dddddd;
$main-text: #222222;

$main-hl: #940a0a;
$var-hl: #780a0a;
$minor: #966751;
$alt-hl: #284d6d;
$alt-var-hl: #4a8a8a;

bg{

  width: 100%;
  height: 100%;
  position: absolute;
}

body{
    color: $main-text;
    padding-top: 40px;
    font-family: 'Roboto', sans-serif;
}

.main-container{

    width: 100%;
    background: $light;
    padding-top: 20px;
    padding-bottom: 20px;
}

.full-container{
  min-width:960px;
  width: 100%;
    background: $alt-hl;
    padding-top: 20px;
    padding-bottom: 20px;
    color: $dark;
}


.node{
    stroke: #bbb;
    stroke-width: 0.5px;
}

.link{
    stroke: #999;
    stroke-opacity: .6;
}

.graph-full{
  background-color: #f9f9f9;
  position: absolute;
  z-index: -99;

  left:0px;
  top:0px;
  width: 100%;
  height: 100%;
}

.graph text.label{
    color: $light;
}

.label{
  position: absolute;
  color: $alt-var-hl;
  font-size: 3em;
  top: 20px;
  width:100%;
  text-align: center;
}

#years{
  color: $dark;
  text-align: center;
  font-size: 2em;
  position:absolute;
  bottom:20px;
  width:100%;
}

ul, li{
  display: inline;
}

p{
  margin:0px;
  padding:0px;
}

.hl{
  color: $alt-var-hl;
}